{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>

     <!-- Meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

     <!-- Link tags -->
     <link rel="stylesheet" type="text/css" href="{% static 'Home/CSS/Base.css' %}" />
     <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
     <link rel="shortcut icon" href="{% static 'Home/Images/GuildLogoIcon.png' %}" type="image/png" />

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

     <!-- Icons -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


     <!-- Head block to allow for the addition of CSS, title, etc -->
     {% block Head %}
     {% endblock %}



   </head>

   <body style="text-align: center;">

     <div class="navbar-fixed">

     <nav style="color: black;">
             <div class="nav-wrapper" style="background-color: white;">
           <!--The "vertical logo center" class over rules the "brand-logo" class so that "position: relative;" and not "position: absolute;"-->


           <a class="brand-logo center"><img src="{% static 'Home/Images/GuildLogoIcon.png' %}" style="width: 1.6em; height: 1.8em; padding-top: 6px;"></img></a>

           <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" style="color: black;">menu</i></a>


           <ul id="nav-mobile" class="left hide-on-med-and-down" style="color: black;">

             <li><a href="{% url 'Home:Feed' %}" style="color: #FF7723; font-family: 'Noto Sans';"><i class="large material-icons left">home</i>Home</a></li>

             <li><a href="{% url 'Home:Feed' %}" style="color: black; font-family: 'Noto Sans';"><i class="large material-icons left">group</i>group</a></li>

             <li><a href="" data-target="slide-out" class="sidenav-trigger" style="color: black; font-family: 'Noto Sans'; display: block;"><i class="large material-icons left">message</i>message</a></li>

           </ul>

           <ul id="nav-mobile" class="right hide-on-med-and-down" style="color: rgba(0,0,0,0.25);">

             <li><a href="" data-target="slide-out-notifications" class="sidenav-trigger" style="color: black; display: inline;"><i class="material-icons left">notifications</i>Notifications</a></li>

             <li><a href="{% url 'UserPosts:PostUser' %}" style="color: black;"><i class="material-icons left">create</i>Journal</a></li>


             <li><a class='dropdown-trigger btn' href='#' data-target='dropdown1' style="background-color: white; color: black; box-shadow: 0px 0px;"><i class="material-icons right">menu</i></a></li>

             <li>
               <ul id="dropdown1" class='dropdown-content'>
                  <li><a href="{% url 'FullSearch:Search' %}" style="color: black;"><i class="material-icons">search</i>Search</a></li>
                  <li><a href="{% url 'UserProfiles:UserProfile' Username=UserName %}" style="color: black;"><i class="material-icons">person</i>Profile</a></li>
                  <li><a href="{% url 'Discover:DiscoverPage' %}" style="color: black;"><i class="material-icons">public</i>Explore</a></li>
                  <li><a href="" data-target="slide-out-settings" class="sidenav-trigger" style="color: black; height: auto !important; margin: 0;"><i class="material-icons">settings</i>Settings</a></li>
                  <li><a href="{% url 'UserLogout:LogoutPage' %}" style="color: black;"><i class="material-icons">arrow_back</i>Logout</a></li>
                </ul>
             </li>

           </ul>


      </div>

      </nav>

      </div>


     {% block Content %}
     {% endblock %}


     <script>

     $(document).ready(function(){
       $('.modal').modal();
       $('.dropdown-trigger').dropdown();
     });

     document.addEventListener('DOMContentLoaded', function() {
       var elems = document.querySelectorAll('.sidenav');
       var instances = M.Sidenav.init(elems, options);
     });

     // Or with jQuery

     $(document).ready(function(){
       $('.sidenav').sidenav();
     });


     </script>



   </body>


         <div class="sidenav" id="mobile-demo" style="align: center;">

           <div style="height: 4em; margin: 0; border-radius: 0; padding-left: 0.5em; padding-top: 0.01em;" class="card white">

             <h5 style="font-family: 'Noto Sans'; position: relative;">Navigation</h1>

           </div>

           <div class="card white" style="color: black; height: 10.5em; width: 19em; margin: auto; border-radius: 4px; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; font-family: 'Noto Sans'; margin-top: 1em;">
             <a href="{% url 'Home:Feed' %}" style="color: black;" class="card-title">
               Home
             </a>
             <p>
               Get the latest posts from the guilds you follow!
             </p>
             <a href="{% url 'Home:Feed' %}" style="color: black;">
               <i class=" material-icons left" style="color: #FF7723;">
                 arrow_forward
               </i>
             </a>
           </div>

           <div class="card white" style="color: black; height: 10.5em; width: 19em; margin: auto; border-radius: 4px; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; font-family: 'Noto Sans'; margin-top: 1em;">
             <a href="{% url 'Home:Feed' %}" style="color: black;" class="card-title">
               Group
             </a>
             <p>
               Create, join, or control a guild from your group page!
             </p>
             <a href="{% url 'Home:Feed' %}" style="color: black;">
               <i class=" material-icons left" style="color: #FF7723;">
                 arrow_forward
               </i>
             </a>
           </div>

           <div class="card white" style="color: black; min-height: 10.5em; width: 19em; margin: auto; border-radius: 4px; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; font-family: 'Noto Sans'; margin-top: 1em;">
             <a href="" style="color: black;" class="card-title sidenav-trigger" data-target="slide-out">
               Chat
             </a>
             <p>
               Open up your guild group chat to consult with other members!
             </p>
             <a href="" style="color: black;" class="sidenav-trigger" data-target="slide-out">
               <i class=" material-icons left" style="color: #FF7723;">
                 arrow_forward
               </i>
             </a>
           </div>

           <div class="card white" style="color: black; min-height: 10.5em; width: 19em; margin: auto; border-radius: 4px; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; font-family: 'Noto Sans'; margin-top: 1em;">
             <a href="" data-target="slide-out-notifications" class="sidenav-trigger card-title" style="color: black; display: inline;">
               Notifications
             </a>
             <p>
               Find out what people are saying about you and your group!
             </p>
             <a href="" data-target="slide-out-notifications" class="sidenav-trigger" style="color: black; display: inline;">
               <i class="material-icons left" style="color: #FF7723;">
                 arrow_forward
               </i>
             </a>
           </div>

           <div class="card white" style="color: black; min-height: 10.5em; width: 19em; margin: auto; border-radius: 4px; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; font-family: 'Noto Sans'; margin-top: 1em;">
             <a href="{% url 'UserPosts:PostUser' %}" style="color: black;" class="card-title">
              Post
             </a>
             <p>
               Write a new unlisted diary entry for your profile!
             </p>
             <a href="{% url 'UserPosts:PostUser' %}" style="color: black;">
               <i class=" material-icons left" style="color: #FF7723;">
                 arrow_forward
               </i>
             </a>
           </div>

           <div class="card white" style="color: black; min-height: 10.5em; width: 19em; margin: auto; border-radius: 4px; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; font-family: 'Noto Sans'; margin-top: 1em;">
             <a href="{% url 'UserProfiles:UserProfile' Username=UserName %}" style="color: black;" class="card-title">
              Profile
             </a>
             <p>
               The public face you express to the people around you!
             </p>
             <a href="{% url 'UserProfiles:UserProfile' Username=UserName %}" style="color: black;">
               <i class=" material-icons left" style="color: #FF7723;">
                 arrow_forward
               </i>
             </a>
           </div>

           <div class="card white" style="color: black; min-height: 10.5em; width: 19em; margin: auto; border-radius: 4px; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; font-family: 'Noto Sans'; margin-top: 1em;">
             <a href="{% url 'Discover:DiscoverPage' %}" style="color: black;" class="card-title">
              Explore
             </a>
             <p>
               Find new ideas from people unknown!
             </p>
             <a href="{% url 'Discover:DiscoverPage' %}" style="color: black;">
               <i class=" material-icons left" style="color: #FF7723;">
                 arrow_forward
               </i>
             </a>
           </div>

           <div class="card white" style="color: black; min-height: 10.5em; width: 19em; margin: auto; border-radius: 4px; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; font-family: 'Noto Sans'; margin-top: 1em;">
             <a href="{% url 'UserSettings:UserSettings' %}" style="color: black;" class="card-title">
              Settings
             </a>
             <p>
               Edit the smaller ways your account works!
             </p>
             <a href="{% url 'UserSettings:UserSettings' %}" style="color: black;">
               <i class=" material-icons left" style="color: #FF7723;">
                 arrow_forward
               </i>
             </a>
           </div>

           <div class="card white" style="color: black; min-height: 7.5em; width: 19em; margin: auto; border-radius: 4px; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; margin-bottom: 1em; font-family: 'Noto Sans'; margin-top: 1em;">
             <a style="color: black;" class="card-title modal-trigger" href="#modal1">
              Logout
             </a>
             <br/>
             <br/>
             <a style="color: black; position: relative;" class="modal-trigger" href="#modal1">
               <i class=" material-icons left" style="color: #FF7723;">
                 arrow_forward
               </i>
             </a>
           </div>

         </div>

         <div id="modal1" class="modal">
           <div class="modal-content" style="text-align: center;">
             <h4>Are you sure?</h4>
             <p>Clicking EXIT means that you will have to re-enter your login credentials back in upon re-opening Guilds.</p>
           </div>
           <div class="modal-footer">
             <a href="" class="modal-close waves-effect waves-orange btn-flat">CANCEL</a>
             <a href="{% url 'UserLogout:LogoutPage' %}" class="waves-effect waves-orange btn-flat">EXIT</a>
           </div>
         </div>

         <div class="sidenav" id="slide-out">
           <div style="height: 4em; margin: 0; border-radius: 0; padding-left: 0.5em; padding-top: 0.01em;" class="card white">
            <h5 style="font-family: 'Noto Sans'; position: relative; float: left;">Messages</h1>
           </div>
             <div>
              <div style="position: relative; top: 3em; display: flex; flex-direction: column; margin: auto; overflow: hidden;">
                <div class="custombar" style="flex: 0 1 auto; overflow-y: scroll; height: 31em; width: 19em; margin: auto; position: relative; padding-bottom: 1em;">
                <h4 style="color: grey;">
                  This is the start of your guilds message history
                </h4>
                {% for i in MessageList reversed %}
                <div class="card horizontal" style="width: 18em; min-height:5em; position: relative; margin: auto; margin-top: 3em; padding-bottom: 1em;">
                  <a src="{% url 'UserProfiles:UserProfile' Username=i.UserId.username %}">
                    <div class="card-image" style="padding: 1em;">
                      <img src="{{i.ProfId.UserProfileImage.url}}" style="min-width: 4em; min-height: 4em; max-height: 4em; max-width: 4em; float: left; border-width: 1px; border-style: solid; border-color: black; border-radius: 0px;"/>
                    </div>
                  </a>
                  <div>
                    <span class="card-title" style="float: left; font-weight: bold; font-family: 'Noto Sans'; top: 0.3em; position: relative; ">{{ i.UserId.username }}</span>
                    <br/>
                    <br/>
                    <div class="card-content custombar" style="padding: 0.5em; position: relative; text-align: left; word-break: break-all;">
                      <p>
                        {{ i.MessageBody }}
                      </p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="card white" style="width: 18em; max-height: 10em; min-height: 10em; position: relative; margin: auto; padding: 1em; top: 4em; margin-bottom: 10em;">
                <form method="post">
                  {% csrf_token %}
                  <div class="form-group text-center">
                    {% for field in form %}
                    <p>
                      {{ field }}
                    </p>
                    {% endfor %}
                    <button type="submit" class="btn" style="background-color: white; float: right; position: absolute; left: 14em; top: 7em;">
                        <i class=" material-icons" style="color: black;">
                          send
                        </i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
         </div>
       </div>

       <div class="sidenav" id="slide-out-notifications">

         <div style="height: 4em; margin: 0; border-radius: 0; padding-left: 0.5em; padding-top: 0.01em;" class="card white">
          <h5 style="font-family: 'Noto Sans'; position: relative; float: left;">Notifications</h5>
         </div>

         {% for i in NotificationLi %}
          <div class="card white" style="width: 18em; margin: auto; margin-top: 1em; text-align: left;">
            <div class="card-content">

              <i class=" material-icons" style="color: black; float: left;">
                remove_circle_outline
              </i>

              <p style="position: relative; left: 0.5em;">
                {{i.NotifyMessage}}
              </p>

            </div>
          </div>
        {% endfor %}

     </div>

     <div class="sidenav" id="slide-out-settings">

       <div style="height: 4em; margin: 0; border-radius: 0; padding-left: 0.5em; padding-top: 0.01em;" class="card white">

         <h5 style="font-family: 'Noto Sans'; position: relative; float: left;">Settings</h5>

       </div>

       <div class="card white" style="color: black; min-height: 12.5em; width: 19em; margin: auto; border-radius: 4px; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; font-family: 'Noto Sans'; margin-top: 1em;">
         <a href="{% url 'UserProfiles:UpdateProfile' %}" style="color: black; text-align: left; float: left;" class="card-title">
          Update your profile
         </a>
         <br/>
         <br/>
         <p style="text-align: left;">
           Go here if you want to change your profile bio, link, image, or header!
         </p>
         <a href="{% url 'UserProfiles:UpdateProfile' %}" style="color: black;">
           <i class=" material-icons left" style="color: #FF7723;">
             arrow_forward
           </i>
         </a>
       </div>

       <div class="card white" style="color: black; min-height: 12.5em; width: 19em; margin: auto; border-radius: 4px; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; font-family: 'Noto Sans'; margin-top: 1em;">
         <a href="{% url 'UserProfiles:UserProfile' Username=UserName %}" style="color: black; text-align: left; float: left;" class="card-title">
          Update your password
         </a>
         <br/>
         <br/>
         <p style="text-align: left;">
           Go here if you want to change your password!
         </p>
         <a href="{% url 'UserProfiles:UserProfile' Username=UserName %}" style="color: black;">
           <i class=" material-icons left" style="color: #FF7723;">
             arrow_forward
           </i>
         </a>
       </div>

       <div class="card white" style="color: black; min-height: 12.5em; width: 19em; margin: auto; border-radius: 4px; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; font-family: 'Noto Sans'; margin-top: 1em;">
         <a href="{% url 'GuildLaunch:GuildCreate' %}" style="color: black; text-align: left; float: left;" class="card-title">
          Create a new guild!
         </a>
         <br/>
         <br/>
         <p style="text-align: left;">
           Go here if you want to create a new guild!
         </p>
         <a href="{% url 'GuildLaunch:GuildCreate' %}" style="color: black;">
           <i class=" material-icons left" style="color: #FF7723;">
             arrow_forward
           </i>
         </a>
       </div>

   </div>


</html>
