.PostContainer {
  position: relative;
  top: 9rem;
  background-color: #F1F1F1;
  max-width: 40rem;
  min-width: 18rem;
  word-break: break-all;

}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    opacity: 0%;
}

::-webkit-scrollbar-thumb {
    background: #ff823a;
    border-radius: 1rem;

}

::-webkit-scrollbar-thumb:hover {
    background: #ff8b49;
}

input {
  background-color: #f7f7f7;
  border: 0.1rem solid #e8e8e8;
  border-radius: 0.1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;

}

body {
  background-color: #F1F1F1;

}
