{% extends "UserEntry/Base.html" %}

{% load static %}

{% block Head %}

<link rel="shortcut icon" href="{% static 'UserEntry/Images/GuildLogoIcon.png' %}" type="image/png" />
<link rel="stylesheet" type="text/css" href="{% static 'UserEntry/CSS/Register.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
<title>Guilds, the social network where groups connect!</title>

{% endblock %}

{% block Content %}

<div class="row">

  <div class="col l12 s12 m12">

    <div class="card white" style="max-width: 30.25em; margin: auto; min-height: 51em; border-radius: 4px; padding-top: 3em; padding-bottom: 2em; padding-top: 2em; top: 4.5em; margin-bottom: 4.5em;">

      <div class="card-content black-text" style="padding-top: 2em; padding-bottom: 2em; text-align: center;">

        <div class="card-image" style="margin: auto; width: 15rem;">
          <img src="{% static 'UserEntry/Images/GuildLogoWithText.png' %}" />
        </div>

        <hr style="margin-top: 42px; margin-bottom: 42px;"/>

        <span class="card-title" style="font-weight: bold; font-family: 'Noto Sans'; letter-spacing: 3px; font-size: 36px; bottom: 3px;">REGISTER</span>

        <form method="post" style="margin-top: 42px;">
          {% csrf_token %}
          <div class="form-group">
            {% for field in form %}
            <p>
              {{ field }}
            </p>
            {% endfor %}
          </div>

          {% for field in form %}

            {% for error in field.errors %}

              <div class="error" role="alert">
                {{ error }}
              </div>

            {% endfor %}

          {% endfor %}


          <button type="submit" class="waves-effect waves-light btn" style="background-color: #FF7723; font-weight: bold; font-family: 'Noto Sans'; letter-spacing: 1px; float: right; top: 1.7em; margin: auto;">SIGN UP</button> <br>

        </form>

      </div>


    </div>

  </div>

</div>

{% endblock %}
