body {
  background-color: #f2f2f2;

}

.MessageContainer {
  background-color: white;
  height: 45rem;
  max-height: 45rem;
  min-height: 45rem;
  overflow-y: scroll;
  overflow-x: none;
  box-shadow: 0rem 0.25rem 1rem #aaaaaa;
  top: 5rem;
  position: relative;

}

.ProfileImg {
  height: 2.5rem;
  width: 2.5rem;

}

#id_MessageBody {
  resize: none;
  min-height: 2.5rem;
  max-height: 2.5rem;
  height: 2.5rem;
  min-width: 90%;
  max-width: 90%;
  width: 90%;

}
