{% extends "FullSearch/Base.html" %}
{% load static %}

{% block Head %}
  <link rel="stylesheet" type="text/css" href="{% static 'FullSearch/CSS/FullSearch.css' %}" />
  <title>Search for a post!</title>
{% endblock %}

{% block Content %}

<div class="container">
  <div class="row" style="top: 3em; position: relative;">
    <div class="col l6 m12 s12 offset-l3" style="overflow: hidden; text-align: center;">
      <span style="font-size: 75px; font-family: 'Noto Sans'; text-align: center;">Search</span>
      <form method="post" style="margin: auto; position: relative;" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          {% for field in form %}
          <p>
            {{ field }}
            {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            {% endfor %}
          </p>
          {% endfor %}
        </div>

      </form>

    </div>
  </div>
</div>

<div class="card white" style="position: relative; top: 7em; height: 29.5em; margin-bottom: 0;">

  <div class="container">
  <div class="row">
    <div class="col l6 m12 s12 offset-l3">
  {% for i in FullList %}

  <div class="card horizontal" style="height: 15em; max-width: 40em; margin: auto; margin-top: 1em; overflow: hidden;">
    <div class="card-image">
      <a href="{% url 'GuildProfiles:GuildProfile' Guildname=i.1 %}"><img src="../../../MediaStorage/{{ i.0 }}" style="width: 15em; height: 15em; border-width: 1px; border-style: solid; border-color: black; object-fit: cover;"></a>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <a href="{% url 'GuildProfiles:GuildProfile' Guildname=i.1 %}"><span class="card-title" style="float: left; font-weight: bold; font-family: 'Noto Sans'; font-size: 35px; color: black;">{{ i.1|truncatechars:10   }}<h6 style="float: right;">{{ i.2 }}</h6></span></a>




        <div style="float: left; bottom: 1em; position: relative;">

          <span>Members:</span>

          {% for t in i.6 %}
            <img src="../../..{{ t.UserProfileImage.url }}" style="width: 30px; height: 30px; position: relative; border-width: 1px; border-color: grey; border-style: solid; object-fit: cover; margin-left: 1em; top: 0.6em;" />
          {% endfor %}


        </div>

        <br/>
        <br/>
        <br/>

        <p style="float: left; position: relative; max-width: 20em; max-height: 3em; height: 3em; width: 20em; word-wrap: break-word; text-align: left; font-size: 15px;">{{ i.3|truncatechars:111 }}</p>

        <br/>
        <br/>
        <br/>
        <br/>

        <a href="{% url 'GuildPosts:GuildReply' PostLink=i.4  %}" style="position: relative; float: left;">
          <i class=" material-icons" style="color: black;">
            reply
          </i>
        </a>

        <a href="{% url 'GuildPosts:Like' PostLink=i.4  %}" style="position: relative; float: left; padding-left: 1em;">
          <i class=" material-icons" style="color: black;">
            favorite
          </i>
          <p style="position: relative; left: 1.5em; top: -2em; color: black; font-family: 'Noto Sans';">{{ i.5 }}</p>
        </a>

      </div>
    </div>
  </div>

  {% endfor %}
    </div>
  </div>
  </div>

</div>

{% endblock %}
