#GuildPostContainer {
  min-width: 18rem;
  overflow: hidden;

}

#id_PostBody {
  width: 14rem;
  height: 10rem;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #f7f7f7;
  border: 0.1rem solid #e8e8e8;
  border-radius: 0.1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  resize: none;

}

body {
    background: url('../Images/GuildPost.jpg') no-repeat center fixed;
    background-size: cover;

}
